@model IEnumerable<inmobiliaria_Heredia.Models.Contrato>

@{
    ViewData["Title"] = "Buscar";
    var lista = ViewBag.Lista;
}

<h1>Busqueda de Contratos</h1>

<h4>Buscar contratos por inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BuscarPorInmueble">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row g-2 align-items-center">
                <div class="col-auto">
                    <label name="inmuebleId" class="control-label">Inmueble</label>
                </div>
                <div class="col-auto">
                    <select name="inmuebleId" class="form-control">
                        @foreach (var item in (IList<Inmueble>)ViewBag.Inmueble)
                        {
                            @if(item.disponible)
                            {
                                <option value="@item.idInmueble">@(item.direccion)</option>
                            }
                        } 
                    </select>
                    <span name="inmuebleId" class="text-danger"></span>
                </div>
                <div class="col-auto">
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-4">
        <h4>Buscar contratos vigentes</h4>
        <hr />
        <form asp-action="BuscarPorFechas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="fechaInicio" class="control-label">Fecha inicio</label>
                <input type="Date" name="fechaInicio" class="form-control" />
                <span name="fechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="fechaFinal" class="control-label">Fecha final</label>
                <input type="Date" name="fechaFinal" class="form-control" />
                <span name="fechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <h4>Buscar inmuebles disponibles</h4>
        <hr />
        <form asp-action="InmueblesPorFechas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="fechaInicio" class="control-label">Fecha inicio</label>
                <input type="Date" name="fechaInicio" class="form-control" />
                <span name="fechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="fechaFinal" class="control-label">Fecha final</label>
                <input type="Date" name="fechaFinal" class="form-control" />
                <span name="fechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
@if(lista != null) {
    <h4>Inmuebles</h4>
    @foreach (var item in lista)
    {
        <div>
            <hr />
            <dl class="row">
                <dt class = "col-sm-3">
                    Índice
                </dt>
                <dd class = "col-sm-9">
                    @(item.inmuebleId)
                </dd>
                <dt class = "col-sm-3">
                    Dirección
                </dt>
                <dd class = "col-sm-9">
                    @(item.propiedad.direccion)
                </dd>
            </dl>
        </div>
    }
}
    </div>
</div>